* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo {
    width: 10rem;
}

.logo-app {
    width: 4rem;
}

.icon {
    width: 4rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid #ccc;
}

footer * {
    color: #777;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 1rem;
    border: 1px solid #ccc;
}

th {
    background-color: #04AA6D;
    color: white;
}